/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: steelblue;
}
body {
  margin: 0 10px 0 10px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-table {
  background-color: unset;
}

.mat-paginator {
  background-color: unset;
}
